* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --font: 'Cabin', sans-serif;
}

body {
    
}

.fundo {
    background-image: linear-gradient(45deg, black, purple);
    height: 100vh;
    color: white;
    font-family: var(--font);
    font-size: 11.5px;
}

.calculadora {
    position: absolute;
    background: rgba(0,0,0,0.6);
    transform: translate(-50%,-50%); /*centralizando a div*/
    
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 15px;

    text-align: center;
}

.botao {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0.5px;

    cursor: pointer;
    color: white;
    border: none;

    background: rgb(31,31,31);
}

.botao:hover {
    background: black;
}

.botao.igual {
    height: 63px;
}

.botao.zero {
    width: 63px;
}

#resultado {
    width: 129px;
    height: 25px;
    margin: 3px;
    font-size: 20px;
   

    background: white;
    color: black;
    text-align: right;
}

.footer {
    color: black;
    position: absolute;
    text-align: center;
 

    background: white;

    padding-bottom: 15px;
    padding-top: 15px;
    bottom: 0;
    width: 100%;
    gap: 2px;
}